* {
	margin: 0;
	padding: 0;
	color: #424242;
}

/*两栏布局==========================*/
.right {
	position: absolute;
	right: 0;
	width:200px;
	height: 200px;
	background-color: #fcc;
	opacity: 0.5;
}

.left {
	margin-right: 200px;
	height: 200px;
	background-color: #123;
}

/*bfc解决margin塌陷============================*/
.wrapper {
	margin-left:100px;
	margin-top:300px;
	width:100px;
	height: 100px;
	background-color: black;
/*	
以下方式都会触发容器的bfc，能够改变在其内部语法行为，能够解决margin塌陷
    display:inline-block; 
	position: absolute;   同时会将display转成inline-block
	overflow: hidden;
	float: left/right;    同时会将display转成inline-block
*/

}


.content1 {
	margin-left:50px;
	/*子元素垂直方向没起作用，margin塌陷*/
	margin-top:150px; 
	width:50px;
	height: 50px;
	background-color: pink;
}

/*bfc可以解决margin合并===============================*/
/*除了改css外还要在原来的html上加上父标签，改变了结构，所以不解决*/
.parent {
/*	
以下方式都会触发容器的bfc，能够改变在其内部语法行为，能够解决margin合并
    display:inline-block;
	position: absolute;
	overflow: hidden;
	float: left/right;
*/
}

.box1 {
	background-color: red;
	margin-bottom: 100px;
}

.box2 {
	background-color: green;
	/*兄弟元素垂直方向没起作用，margin合并*/
	margin-top: 100px;
}

/*伪元素选择器，任何元素中都有before和after两个不可见的元素，称为伪元素；
1.伪元素默认为inline，可以将其当成普通元素操作
2.伪元素必须加上content才生效*/
#sss::before {
	content: "adfaf";
}



/*1.浮动类元素产生浮动流。
所有产生了浮动流的元素，块级元素看不到他们，
产生了bfc的元素(包括浮动类元素）和文本类属性（inline或者inline-block）的元素以及文本能看到他们
========================================================
*/

/*.box {
	float:left;
	width: 100px;
	height: 100px;
	background-color: black;
	opacity: 0.5;
}

.demo {
	width: 50px;
	height: 50px;
	background-color: pink;
}*/

.ppp {
	border:1px solid green;
}




.content {
	float:left;
	color: #fff;
	background-color: black;
	width: 100px;
	height: 100px;
}

/*通过加上个clear属性的元素，来解决父级块级元素看不到浮动类子元素的问题
可以选择加个p，或者伪元素。推荐伪元素，不改变原有html结构*/
p {
	border-top: 0 solid green;
	/*不加p，父级块级元素div看不到子元素浮动类，所以包不住子元素，通过加一个p元素，同时加上clear清除周边浮动流，
	此时p元素认为其前一个float流是没有的，就会按正常换行，p就能够撑开父级容器，达到父级容器包裹子元素效果*/
	clear: both;
}

.ppp::after {
	/*有content伪元素才生效*/
	content: "";  
	/*block元素才能让clear生效*/
	display: block;
	clear:both;
}




/*导航栏实例=============*/
.nav {
	list-style: none;
}

.nav .list-item {
	float:left;
	margin: 0 10px;
	height: 30px;
	line-height: 30px; 
}

a {
	text-decoration: none;

}

.nav .list-item a {
	color: #f40;
	font-weight: bold;
	display: inline-block;
	height: 30px;
	padding: 0 5px;
	border-radius: 10px;
}

.nav .list-item a:hover {
	background-color: #f40;
	color: #fff;
	font-weight: bold;
}

/*清除浮动流，防止影响后面元素*/
.nav::after {
	/*有content伪元素才生效*/
	content: "";  
	/*block元素才能让clear生效*/
	display: block;
	clear:both;
}